apiVersion: v1
kind: Secret
metadata:
  name: pallete-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "username": "<<USERNAME>>",
      "project_name": "<<PROJECT>>",
      "host": "api.spectrocloud.com",
      "password": "<<PASSWORD>>"
    }
